* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #b0b0b0;
}

.cursor-shadow {
  position: fixed;
  width: 1500px;
  height: 1500px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1) 70%,
    rgba(0, 0, 0, 0.15) 100%
  );
  transform: translate(-50%, -50%);
}



section#main_container {
    display: flex;
    padding: 100px 60px;
}

.left_container {
    position: fixed;
    width: 360px;
    height: 100vh;
    
}

.right_container {
    flex: 1;
    margin-left: 520px;
}

.name {
    margin-bottom: 20px;
}

.name h1 {
    font-size: 48px;
    color: #e0e0e0;
}

.bio {
    margin-bottom: 40px;
}

.bio p {
    font-size: 20px;
    color: #b0b0b0;
}

.about {
    margin-bottom: 50px;
}

.about p {
    font-size: 18px;
    color: #b0b0b0;
}

.page_links {
    margin-bottom: 100px;
}

span.span {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #b0b0b0;
    margin: 6px 0;
    margin-right: 10px;
}

.page_links li {
    margin-bottom: 20px;
}

.page_links li:hover a{
    color: #e0e0e0;
    transition: all 0.3s ease;
}

.page_links li:hover span {
    width: 50px;
    background-color: #e0e0e0;
    transition: all 0.3s ease;
}

.social_links ul {
    display: flex;
    gap: 20px;
}

.social_links ul li a {
    font-size: 24px;
    color: #b0b0b0;
}

.social_links ul li a:hover {
    color: #e0e0e0;
    transition: all 0.3s ease;
}

.aboutTittle {
    margin-bottom: 20px;
    display: none;
}

.aboutInfo_container {
    margin-bottom: 150px;
    padding: 20px;
    border-radius: 10px;
}

.aboutInfo_container p {
    font-size: 18px;
    color: #b0b0b0;
    margin-bottom: 20px;
}

.aboutInfo_container p span {
    color: #e0e0e0;
    font-weight: bold;
}

.skillsTittle {
    margin-bottom: 20px;
    display: none;
}

.skills_container {
    margin-bottom: 150px;
}

.skills_container_wrap {
    padding: 20px;
}

.skills_container_wrap ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skills_container_wrap ul li {
    background-color: #2c2c2c;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 40px;
    color: #b0b0b0;
}

.skills_container_wrap ul li:hover {
    background-color: #1a1a1a;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills_container_wrap ul li:hover #html{
    color: #e34c26;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills_container_wrap ul li:hover #css{
    color: #264de4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills_container_wrap ul li:hover #sass {
    color: #cc6699;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills_container_wrap ul li:hover #js{
    color: #f7df1e;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills_container_wrap ul li:hover #react{
    color: #61dafb;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills_container_wrap ul li:hover #node{
    color: #8cc84b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills_container_wrap ul li:hover #database{
    color: #f0db4f;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills_container_wrap ul li:hover #git{
    color: #f05032;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills_container_wrap ul li:hover #palette{
    color: #ff6f61;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills_container_wrap ul li:hover #server{
    color: #6c757d;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.experienceTittle {
    margin-bottom: 20px;
    display: none;
}

.experienceInfo_container {
    margin-bottom: 150px;
}

.experienceInfo_container_wrap {
    display: flex;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.experienceInfo_container_wrap:hover {
    background-color: #1a1a1a;
    transition: background-color 0.3s ease;
}

.experience_details {
    margin-left: 70px;
    flex: 1;
}

.timeline p {
    font-size: 16px;
    color: #b0b0b0;
    margin-bottom: 10px;
}

.experience_details h1 {
    font-size: 18px;
    color: #e0e0e0;
    margin-bottom: 10px;
}

.experience_details p {
    font-size: 16px;
    color: #b0b0b0;
    margin-bottom: 20px;
}

.experience_skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.experience_skills ul li {
    background-color: #2c2c2c;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #b0b0b0;
}

.resumeBtn {
    background: none;   /* Removes background color */
    border: none;       /* Removes border */
    color: inherit;     /* Keeps text color from parent or set your own */
    padding: 0;         /* Removes default padding */
    font: inherit;      /* Uses the same font as surrounding text */
    font-weight: bold; /* Makes the text bold */
    cursor: pointer; 
    display: flex;      /* Aligns text and icon */
    align-items: center; /* Centers items vertically */
}

.resumeBtn i {
    margin-left: 8px;  /* Space between text and icon */
    font-size: 12px;   /* Adjust icon size if needed */
}

.resumeBtn:hover {
    color: #e0e0e0;    /* Change text color on hover */
    text-decoration: underline; /* Optional: underline on hover */
    transition: color 0.3s ease; /* Smooth transition */
}

.projectsInfo_container {
    margin-bottom: 150px;
}

.projectTittle {
    margin-bottom: 20px;
    display: none;
}

.projectsInfo_container_wrap {
    display: flex;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.projectsInfo_container_wrap:hover {
    background-color: #1a1a1a;
    transition: background-color 0.3s ease;
}

.projectImg {
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}

.projectImg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.projectInfo_details {
    flex: 1;
}

.projectInfo_details h1 {
    font-size: 18px;
    color: #e0e0e0;
    margin-bottom: 10px;
}

.projectInfo_details p {
    font-size: 16px;
    color: #b0b0b0;
    margin-bottom: 20px;
}

.projectArchive a {
    display: flex;      /* Aligns text and icon */
    align-items: center; /* Centers items vertically */
    color: inherit;     /* Keeps text color from parent or set your own */
    font: inherit;      /* Uses the same font as surrounding text */
    font-weight: bold;
    text-decoration: none; /* Removes underline */
}

.projectArchive i {
    margin-left: 8px;  /* Space between text and icon */
    font-size: 12px;   /* Adjust icon size if needed */
}

.projectArchive a:hover {
    color: #e0e0e0;    /* Change text color on hover */
    text-decoration: underline; /* Optional: underline on hover */
    transition: color 0.3s ease; /* Smooth transition */
}

.copyright_container {
    padding: 20px;
    color: #b0b0b0;
    width: 80%;
}

.copyright_container p {
    font-size: 14px;
    line-height: 20px;
}

.copyright_container p span {
    color: #e0e0e0;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .name h1 {
        font-size: 42px;
    }

    .bio p {
        font-size: 18px;
    }

    .about p {
        font-size: 16px;
    }

    .page_links {
        margin-bottom: 100px;
    }

    .page_links li {
        margin-bottom: 15px;
    }

    .social_links ul {
        flex-direction: row;
        gap: 15px;
    }

    .social_links ul li a {
        font-size: 22px;
    }

    .about p {
        font-size: 18px;
    }

    .page_links li {
        margin-bottom: 15px;
    }

    .skills_container_wrap ul li {
        font-size: 36px;
    }

    .experienceInfo_container_wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience_details {
        margin-left: 0;
        margin-top: 10px;
    }

    .experience_details h1 {
        font-size: 20px;
    }

    .experience_details p {
        font-size: 16px;
    }

    .projectsInfo_container_wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .projectImg {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .projectInfo_details h1 {
        font-size: 20px;
    }

    .projectInfo_details p {
        font-size: 16px;
    }

    
}

@media screen and (max-width: 1024px) {
    section#main_container {
        flex-direction: column;
        padding: 20px;
    }

    .left_container {
        position: relative;
        padding: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .right_container {
        width: 100%;
        margin-left: 0;
    }

    .name h1 {
        font-size: 36px;
    }

    .bio p {
        font-size: 18px;
    }

    .about p {
        font-size: 16px;
    }

    .page_links {
        margin-bottom: 50px;
    }

    .page_links li {
        margin-bottom: 10px;
    }

    .page_links:last-child {
        margin-bottom: 0;
    }

    .social_links {
        margin-bottom: 50px;
    }

    .social_links ul {
        flex-direction: column;
        gap: 10px;
    }

    .social_links ul li a {
        font-size: 20px;
    }

    .aboutTittle {
        display: block;
        position: sticky;
        top: 0;
        background-color: #121212;
        padding: 20px 0px;
    }

    .aboutInfo_container {
        margin-bottom: 50px;
    }

    .aboutInfo_container p {
        font-size: 16px;
    }

    .skillsTittle {
        display: block;
        position: sticky;
        top: 0;
        background-color: #121212;
        padding: 20px 0px;
    }


    .skills_container {
        margin-bottom: 50px;
    }

    .skills_container_wrap ul li {
        font-size: 30px;
    }

    .experienceTittle {
        display: block;
        position: sticky;
        top: 0;
        background-color: #121212;
        padding: 20px 0px;
    }

    .experienceInfo_container {
        margin-bottom: 50px;
    }

    .experienceInfo_container_wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience_details {
        margin-left: 0;
        margin-top: 10px;
    }


    .experience_details h1 {
        font-size: 16px;
    }

    .experience_details p {
        font-size: 14px;
    }

    .projectTittle {
        display: block;
        position: sticky;
        top: 0;
        background-color: #121212;
        padding: 20px 0px;
    }

    .projectsInfo_container {
        margin-bottom: 50px;
    }

    .projectsInfo_container_wrap {
        flex-direction: row;
        align-items: flex-start;
    }

    .projectImg {
        width: 50%;
        height: auto;
        margin-bottom: 20px;
    }

    .projectInfo_details h1 {
        font-size: 16px;
    }

    .projectInfo_details p {
        font-size: 14px;
    }

    table tr th:nth-child(3) {
        display: none;
    }

    table tr td:nth-child(3) {
        display: none !important;
    }

}


@media screen and (max-width: 992px) {
    section#main_container {
        flex-direction: column;
        padding: 20px;
    }

    .left_container {
        position: relative;
        padding: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .right_container {
        width: 100%;
        margin-left: 0;
    }

    .name h1 {
        font-size: 36px;
    }

    .bio p {
        font-size: 18px;
    }

    .about p {
        font-size: 16px;
    }

    .page_links {
        margin-bottom: 50px;
    }

    .page_links li {
        margin-bottom: 10px;
    }

    .social_links ul {
        flex-direction: column;
        gap: 10px;
    }   

    .social_links ul li a {
        font-size: 20px;
    }
    
}


@media screen and (max-width: 768px) {
    section#main_container {
        flex-direction: column;
        padding: 20px;
    }

    .left_container {
        position: relative;
        padding: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .right_container {
        width: 100%;
        margin-left: 0;
    }

    .name h1 {
        font-size: 30px;
    }

    .bio p {
        font-size: 16px;
    }

    .about p {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 576px) {
    section#main_container {
        flex-direction: column;
        padding: 20px;
    }

    .left_container {
        position: relative;
        padding: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .right_container {
        width: 100%;
        margin-left: 0;
    }

    .name h1 {
        font-size: 24px;
    }

    .bio p {
        font-size: 14px;
    }

    .about p {
        font-size: 12px;
    }

     .projectsInfo_container_wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .projectImg {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .projectInfo_details h1 {
        font-size: 14px;
    }

    .projectInfo_details p {
        font-size: 12px;
    }

    .experienceInfo_container_wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience_details {
        margin-left: 0;
        margin-top: 10px;
    }

    .experience_details h1 {
        font-size: 14px;
    }

    .experience_details p {
        font-size: 12px;
    }

    .skills_container_wrap ul li {
        font-size: 24px;
    }
}
